.logo {
    margin-left: 8vw;
}

.name {
    margin-left: 10vw;
}

.regBtn {
    margin-right: 8vw;
}

.Btn {
    margin-right: 10px;
}

.inlineText {
    margin-right: 40px;
}

.nav {
    height: 40px;
}